html, body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.PageContainer {
    height: calc(100% - 50px);
    overflow: auto;
    background-color: #EEF1F8;
}

.subContainer {
    background-color: #E1E5F0;
}

table-center {
    margin-left: auto;
    margin-right: auto;
}

.table tr {
    cursor: pointer;
    min-height:33px;
}

.table th {
    border: 2px double;
    text-align: center;
}

.table td {
    border: 2px solid;
    text-align: center;
}

.top-row {
    margin-top: 20px;
}

    .top-row .left {
        float: left;
    }

    .top-row .right {
        float: right;
        text-align: right;
    }

.content-left {
    text-align: left;
}

.content-right {
    text-align: right;
}

.caption {
    font-size: 30px;
    font-weight: 500;
}

.limit-div {
    max-height: 300px;
    overflow: auto;
}

.common-control {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.41285;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-xs {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form-md {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-lg {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.div-xs {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.div-md {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.div-lg {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

    footer div {
        width: 100%;
        padding: 10px 20px;
        text-align: center;
    }
