html, body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.PageContainer {
    height: calc(100% - 50px);
    overflow: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.table th {
    border: 2px double;
    text-align: center;
}

.table td {
    border: 2px solid;
    text-align: center;
}

.form-xs {
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.form-md {
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.form-lg {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.div-xs {
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.div-md {
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.div-lg {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}



footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

    footer div {
        width: 100%;
        padding: 10px 20px;
        text-align: center;
    }
