@model InspurOA.Models.Resume

@{
    ViewBag.Title = "上传简历";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<style type="text/css">
    .div-group {
        display: block;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;
        content: normal;
        clear: none;
        line-height: 19.99px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSelectDoc").click(function () {
            $("input[name='file']").click();
        });
        $("input[name='file']").change(function () {
            if (event.target.files.length > 0) {
                var fileList = $("div[name='fileList']");
                fileList.css('display', 'inline-block');
                fileList.empty();
                for (var i = 0; i < event.target.files.length; i++) {
                    fileList.append("<div style='float:left;' class='col-md-12'><span>" + event.target.files[i].name + "</span></div>");

                    //fileList.append("<div style='float:left;' class='col-md-12'><span>" + event.target.files[i].name+ "</span><input type='button' class='btn btn-primary btn-xs' value='-' style='float:right;' /></div>");
                }
            }
        });
    });
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<div style="margin-left:auto;margin-right:auto;max-width:400px;box-sizing:border-box;">
    @using (Html.BeginForm("Upload", "Resume", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        <div class="div-group col-md-12">
            <span class="col-md-4"> 语言类型：</span>
            <div class="col-md-8">
                <select class="list-group-item">
                    <option value="CN"> 中文 </option>
                    <option value="EN"> English </option>
                </select>
            </div>
        </div>
        <div class="div-group col-md-12">
            <span class="col-md-4">
                来源：
            </span>
            <div class="col-md-8">
                <ol class="list-group" style="list-style:none;padding-left:0px;">
                    <li class="list-group-item"><input type="radio" name="type" value="ZL" checked="checked" />智联招聘</li>
                    <li class="list-group-item"><input type="radio" name="type" value="WY" />前程无忧</li>
                </ol>
            </div>
        </div>
        <div class="div-group">
            <input type="button" id="btnSelectDoc" value="选择文档..." class="form-control" style="width:100%;height:30px;" />
            <input type="file" name="file" style="height:30px;width:100%;float:right;display:none;" /> @*multiple="multiple"*@
            <div name="fileList" style="width:100%;max-height:200px;margin-top:10px;display:none;">
            </div>
        </div>
        <div class="div-group">
            @*@Html.ActionLink("返回列表", "Index", null, new { @class = "col-md-2 btn btn-primary btn-md" })*@
            @*<a href="Index" class="">&laquo; 返回列表</a>*@
            @*@Html.ActionLink("&laquo; 返回列表", "Index", null, new { @class = "col-md-6 btn btn-primary " })*@
            <input type="submit" id="BtnUpload" class="form-control btn btn-primary" value="上传" />
        </div>
        <div class="div-group">
            @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>