@model IEnumerable<InspurOA.Models.Permission>

@{
    ViewBag.Title = "权限信息列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>权限信息列表</h2>

<p>
    @Html.ActionLink("添加权限", "Create", null, new { @class = "btn btn-primary" })
    <input class="btn btn-primary" name="BtnDelete" type="button" value="删除" />
</p>

<table class="table">
    <tr>
        <th></th>
        <th>权限代码</th>
        <th>
            权限描述
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" value="@Html.DisplayFor(modelItem => item.PermissionId)" />
            </td>
            <td data-content="content">
                @Html.DisplayFor(modelItem => item.PermissionCode)
            </td>
            <td data-content="content">
                @Html.DisplayFor(modelItem => item.PermissionDescription)
            </td>
        </tr>
    }

</table>
<style type="text/css">
    tr {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("td[data-content='content']").click(function () {
            var itemId = $("input[type='checkbox']", $(this).parent("tr")).val();
            window.location.href = "Permission/Edit?id=" + itemId;
        });

        $("input[name='BtnDelete']").click(function () {
            var checkedList = $("input[type='checkbox']");
            var selectedIds = [];
            for (var i = 0; i < checkedList.length; i++) {
                if (checkedList[i].checked) {
                    selectedIds.push(checkedList[i].value);
                }
            }

            if (selectedIds.length > 0) {
                if (confirm("确认删除?")) {
                    $.ajax({
                        type: "post",
                        url: "../Permission/Delete",
                        data: { 'ids': selectedIds },
                        dataType: "json",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (ex) {
                            location.reload();
                        }
                    });
                }
            }
            else {
                alert("请选择要删除的列表项！");
            }
        });
    });
</script>
